<style>
  .smallbox {
    border: 2px solid white;
    height: 120px;
    width: 120px !important;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px rgb(213, 99, 99);
    background-color: white;
    /* padding:px; */
  }

  .smallbox h6 {
    font-size: 16px;
  }

  .smallbox:hover {
    background-image: linear-gradient(rgb(76, 163, 235), rgb(23, 66, 142));
    border: linear-gradient(rgb(76, 163, 235), rgb(23, 66, 142));
  }

  .smallbox img {
    width: 42px;
  }

  .buttonscroll {
    background-color: rgb(137, 236, 236);
    border-radius: 8px;
    border: 1px solid lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #main-banner-slider .owl-prev {
    position: absolute;
    left: 50px;
    color: #d3d3d3;
    font-size: 45px;
    background: transparent;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: none;
    line-height: 0;
    top: 36%;
  }

  #main-banner-slider .owl-next {
    position: absolute;
    right: 50px;
    color: #d3d3d3;
    font-size: 45px;
    background: transparent;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: none;
    line-height: 0;
    top: 36%;
  }

  .customtext {
    position: absolute;
    left: 0%;
    top: 0.8rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 90%;
  }

  @media (min-width: 1600px) and (max-width: 1920px) {
    .customtext {
      position: absolute;
      left: -2%;
      top: 12rem;
    }
  }

  /* .col {
    margin: 1px;
    padding: 0;
  } */
  .col a h5 {
    font-size: 16px;
  }

  .card-img {
    width: auto;
    height: auto;
  }


  .customtext h1 {
    font-size: 32px;
    color: #fff;
    text-align: left;
    font-weight: 600;
  }

  @media (min-width: 1600px) and (max-width: 1920px) {
    .customtext h1 {
      font-size: 32px;
    }
  }

  .bannerright {}

  @media (min-width: 1600px) and (max-width: 1920px) {
    .bannerright {}
  }

  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .owl-carousel,
  .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }

  img,
  svg {
    vertical-align: center;
  }

  button {
    margin: 0;
  }

  .buttons {
    justify-content: center;
    text-align: center;
  }

  .carousel-caption.customtext {
    text-align: start;
    padding: 2rem;
    /* Adjust padding as needed */
  }

  .carousel-caption.customtext h1 {
    font-size: 2rem;
    /* Adjust font size as needed */
  }

  .carousel-caption.customtext p {
    font-size: 1rem;
    /* Adjust font size as needed */
  }

  .carousel-caption.customtext .btn {
    font-size: 1rem;
    /* Adjust font size as needed */
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
  }

  @media (max-width: 768px) {

    .carousel-caption.customtext h1 {
      font-size: 1.5rem;
    }

    .carousel-caption.customtext p {
      font-size: 0.8rem;
    }

    .carousel-caption.customtext .btn {
      font-size: 0.8rem;
      padding: 0.3rem 0.6rem;
    }
  }
</style>
<!-- <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style=" margin-top:0; ">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="assets/images/slider 4.png" class="d-block w-100" alt="...">
      
      <div class="carousel-caption customtext">
        <div class="row" style="height: auto;">
          <div class=" col-sm-8 col-xxl-8"></div>
          <div class="col-sm-4 col-lg-4 bannerright">
            <h1 class="d-none d-sm-block">Elite-Cafe The World Of Coffee</h1>
            <p class="dp-col-4">Our team of over 70 coffee makers joined us in giving you the best of modern coffee
              to ensure you stay healthy, always.</p>
            <div class="d-flex justify-content-start">
              <a class="btn btn-outline-primary homebtn" id="ApolloWorldOfCare"
                alt="" target="_blank">Book your Table</a>

            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="carousel-item" data-interval="2000">
      <!-- <img src="images/Askapollo-RB-WebBanner-64ee28a99f190.jpg" class="d-block w-100" style="height: 500px;" alt="..."> -->
      <!-- <a href="https://www.askapollo.com/book-health-check?utm_source=websitebanner&amp;utm_medium=digital&amp;utm_campaign=mothers-day-health-check-apollohospitals"
        id="BannerProHealth" target="_blank">
        <img src="assets/images/slider 1.png" class="d-block w-100" alt="...">
      </a>
    </div> -->
    <!-- <div class="carousel-item"> -->
      <!-- <img src="images/Cardiac-Banner_Desk-1.jpg" class="d-block w-100" style="height: 500px;" alt="..."> -->
      <!-- <a href="https://www.apollohospitals.com/book-doctor-appointment/cardiologist/?utm_campaign=cardiologist&amp;utm_source=home_banner&amp;utm_medium=digital"
        id="HomePage-Cardiac-Banner" target="_blank">
        <img src="assets/images/slider 6.png" class="d-block w-100" alt="...">
      </a>
    </div>
  </div> -->
  <!-- <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
<!-- </div>  -->

<video width="100%" height="50%" autoplay loop muted>
  <source src="assets/video/Video.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<br>
<section>
  <div class="menu" style="display: flex; justify-content: center; text-align: center;">
    <div class="container4 row mt-3"
      style="display: flex; width: 70%; text-align: center; justify-content: center; background-color: lightblue; border-radius: 5px;">
      <div class="buttons">
        <button class="buttonscroll" [ngClass]="{'active': activeTab === 'content1'}" (click)="showContent('content1')">
          <span class="text-primary">Specialities</span>
        </button>
        <button class="buttonscroll" [ngClass]="{'active': activeTab === 'content2'}" (click)="showContent('content2')">
          <span class="text-primary">Pro-Active</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container6" style="width: 100%; justify-content: center; text-align: center;">
    <div class="tab-content py-sm-5 py-3" style="width: 100%; justify-content: center; text-align: center;">
      <div class="tab-pane" id="content1" style="width: 70%; margin: auto;"
        [style.display]="activeTab === 'content1' ? 'block' : 'none'">
        <div class="row justify-content-center text-center">
          <div class="col-md-12">
            <h2>Discover Our Culinary Specialties</h2>
            <p class="sub_hdng pt-1">Indulge in a World of Cafe Delights</p>
          </div>

          <!-- Culinary Specialties -->
          <div class="col-md-5">
            <img src="assets\images\Specialities.jpg" alt="Explore our cafe specialties"
              class="img-fluid rounded-4 d-none d-sm-block">
            <img src="assets\images\Specialities.jpg" alt="Explore our cafe specialties"
              class="img-fluid rounded-4 d-block d-sm-none">
          </div>
          <div class="col-md-6">
            <div class="text-center pt-lg-0 pt-4">
              <div class="row justify-content-center">

                <div class="col-md-12">
                  <div class="row row-col-3 row-col-lg-5 g-2 g-lg-4">
                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Coffee">
                        <img src="assets/images/coffee-cup.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Coffee Specialties</h5>
                      </a>
                    </div>


                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Pastries">
                        <img src="assets/images/cake.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Artisan Pastries</h5>
                      </a>
                    </div>

                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Sandwiches">
                        <img src="assets/images/sandwich.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Gourmet Sandwiches</h5>
                      </a>
                    </div>
                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Cakes">
                        <img src="assets/images/cake (1).png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Specialty Cakes</h5>
                      </a>
                    </div>

                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Beverages">
                        <img src="assets/images/cocktail.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Signature Beverages</h5>
                      </a>
                    </div>

                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Salads">
                        <img src="assets/images/salad.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Fresh Salads</h5>
                      </a>
                    </div>

                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Smoothies">
                        <img src="assets/images/smoothie.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Healthy Smoothies</h5>
                      </a>
                    </div>

                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Desserts">
                        <img src="assets/images/ice-cream.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Delectable Desserts</h5>
                      </a>
                    </div>

                    <div class="col">
                      <a href="#" class="pg_widget" id="Specialty_Breakfast">
                        <img src="assets/images/breakfast.png" alt="icon" style="height: 50px; width: 50px;">
                        <h5>Breakfast Delights</h5>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="content2" style="display: block; width: 70%; margin: auto;"
        [style.display]="activeTab === 'content2' ? 'block' : 'none'">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <img src="assets\images\ProActiveImg.jpg"
              alt="Get proactive - Be Prohealth !" class="img-fluid rounded-4 d-none d-sm-block">
            <img src="assets\images\ProActiveImg.jpg"
              alt="Get proactive - Be Prohealth !" class="img-fluid rounded-4 d-block d-sm-none">
          </div>
          <div class="col-md-7">

            <h2>Join the Cafe Community!</h2>
            <p class="sub_hdng pt-1">Indulge in a Unique Cafe Experience</p>

            <p>Our Cafe Program offers a one-of-a-kind experience that combines a diverse menu, engaging events, and
              vibrant
              parties, all within a welcoming atmosphere.</p>

            <p>Experience the benefits of our cafe, where each visit is an opportunity to discover new flavors,
              socialize with
              friends, and create lasting memories.</p>

            <p>Our cafe hosts a variety of events, from live music performances to themed nights, ensuring there's
              always
              something exciting happening. Join us for an enriching and entertaining time!</p>

            <p>Whether you're celebrating a special occasion or just looking to unwind after a long day, our cafe
              provides the
              perfect setting. Enjoy delicious food, refreshing beverages, and a lively ambiance.</p>
            <p><a (click)="signup()">Book Pro-Active</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<div class="container3 col-md-12"
  style="display: flex;  width: 100%; margin-top:30px;text-align:center;justify-content:space-around;">
  <div class="row row-col-sm-3 row-col-md-3 row-col-lg-12"
    style=" display:flex; flex-direction:row; width:90%;text-align: center; justify-content:space-around;">

    <div class="smallbox row-col-1" id="box1" style="width: 70px;">
      <a style="height: 100px; width: 100px;">
        <img src="assets/images/reserve.png" alt="icon" height="60px" width="60px" (click)="bookTable()" >
        <h6>Book Table</h6>
      </a>
    </div>
    <div class="smallbox row-col-1" id="box2" style="width: 200px;">
      <a style="height: 100px; width: 100px;">
        <img src="assets/images/menu.png" alt="icon" height="60px" width="60px" (click)="menu()">
        <h6>Menu</h6>
      </a>
    </div>
    <div class="smallbox row-col-1" id="box3" style="width: 200px;">
      <a style="height: 100px; width: 100px;">
        <img src="assets/images/online-order.png" alt="icon" height="60px" width="60px" (click)="onlineOrder()">
        <h6>Online Order</h6>
      </a>
    </div>
    <div class="smallbox row-col-1" id="box4" style="width: 200px; ">
      <a style="height: 100px; width: 100px;">
        <img src="assets/images/trolley.png" alt="icon" height="60px" width="60px" (click)="cart()">
        <h6>Cart</h6>
      </a>
    </div>
    <div class="smallbox row-col-1" id="box5" style="width: 200px;">
      <a style="height: 100px; width: 100px;">
        <img src="assets/images/party-popper.png" alt="icon" height="60px" width="60px" (click)="parties()">
        <h6>Events and Parties</h6>
      </a>
    </div>
    <div class="smallbox row-col-1" id="box6" style="width: 200px; ">
      <a style="height: 100px; width: 100px;">
        <img src="assets/images/banner.png" alt="icon" height="60px" width="60px" (click)="upcomingEvents()">
        <h6>Upcoming Events</h6>
      </a>
    </div>
  </div>
</div>