<div class="modal" id="login" tabindex="1" [class.show]="showLoginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
        <button type="button" class="close" (click)="showLoginModal = false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
          <div class="form-group">
            <label for="email">
              <span class="glyphicon glyphicon-envelope"></span> Email:
            </label>
            <input type="text" class="form-control" id="email" name="emailId" ngModel #emailId="ngModel"
              placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label for="loginPassword">
              <span class="glyphicon glyphicon-lock"></span> Password:
            </label>
            <input type="password" class="form-control" id="loginPassword" name="password" ngModel #password="ngModel"
              placeholder="Enter your password" required>
          </div>
          <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Don't have an account? <a (click)="showLoginModal = false; signup()">Register</a></p>
        <br>
        <div>
          <a (click)="showLoginModal = false; forgotpassword()">forgot password</a>
        </div>
        <br>
        <br>
        <div id="google-btn"></div>
      </div>
    </div>
  </div>
</div>
