/* Left Part
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    min-height: 100vh;
    width: 100%;
    background: #eeeceb;
}

footer {
    position: fixed;
    background: #10182f;
    width: 100%;
    bottom: 0;
}

footer::before {
    content:"";
    position:absolute; 
	left :0; 
	top :0px; 
	height :1px; 
	width :100%; 
	background:#afafb6 
}

footer .content { max-width :125px ; margin:auto ; padding :30px 40px 40px 40px ; }


footer .content .top { display:flex ; align-items:center ; justify-content:space-between ; margin-bottom:50px;}

.content.top.logo-details { color:#fff;font-size:30px;}

.content.top.media-icons{display:flex;}

.content.top.media-icons a{ height:40px;width:40px;margin:8 px;border-radius:50%;text-align:center;line-height:40 px;color:#fff;font-size:17 px;text-decoration:none;transition:all 0.4s ease;}

.top.media-icons a:nth-child(1){background:#4267b2;}
.top.media-icons a:nth-child(1):hover{color:#4267b2; background:#fff;}
.top.media-icons a:nth-child(2){background:#1da1f2;}
.top.media-icons a:nth-child(2):hover{color:#1da1f2; background:#fff;}
.top.media-icons a:nth-child(3){background:#e1306c;}
.top.media-icons a:nth-child(3):hover{color:#e1306c; background:#fff;}
.top.media-icons a:nth-child(4){background:#0077b5;}
.top.media-icons a:nth-child(4):hover{color:#0077b5; background:#fff;}
.top.media-icons a:nth-child(5){background:#ff0000;}
.top.media-icons a:nth-child(5):hover{color:#ff0000; background:#fff;}
footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
}
.content .link-boxes .box_link_name { 
    color:#fff; font-size:18px; font-weight:400px; margin-bottom:18px; position:relative; } 
  
  .link-boxes.box_link_name:before { content:""; position:absolute; left:0; bottom: -2px; height:3px; width:25px;background:#fff;} 
  
  .content link-boxes .box li{ margin:6px 0; list-style:none;} 
  
  .content link-boxes .box li a{color:#fff; font-size:14 px;font-weight:400; text-decoration:none; opacity:0.8; transition: all 0.4s ease;}

  .content .link-boxes .box ul a:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: calc(100% - 55px);
    outline: none;
    border: 2px solid #fafbfc;
    background: #eaeaea;
    border-radius: 4px;
    padding: 5 15px;
    font-size: 15px;
    color: #fff; 
    margin-top: 5px; 
}

.link-boxes .input-box input::placeholder {
     color:#fafbfc; 
     font-size :16px; 
}

.link-boxes .input-box input[type="button"] {
     background :#fff; 
     color :#38242f; 
     border:none ; 
     font-size :18x ; 
     font-weight :500 ; 
     margin :4 px o ;
      opacity :0.8 ;
      cursor:pointer ;
      transition: all 0.4s ease ;
}
.input-box input[type="button"]:hover{
    opacity :1 ;
 }
 footer.bottom-details{
    width :100% ;
    background:#2e2748 ;  
 }
 footer.bottom-details.bottom-text{
    max-width:1259px ;  
    margin:auto ;  
    padding:20px 40px ;  
    display:flex ;   
    justify-content: space-between ;
 
 }
 .bottom-details bottom-text span,
 bottom-details bottom-text a{
 font-size:14px ;
 font-weight:300 ;
 color:#fff;opacity:0.8;text-decoration:none ;
 
 }
 .bottom-details bottom-text a:hover{opacity:1;text-decoration:underline ;
 
 }
 .bottom-details bottom-text a{margin-right:10 px ;
 
 }
 @media (max-width: 960px) {
    footer .content .link-boxes {
        flex-wrap: wrap;
    }
    
    footer .content .link-boxes .input-box {
        width: 40%;
        margin-top: 18px;
    }
}
@media (max-width: 760px) {
    footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer.content.link-boxes.box {
        width:calc(100% /3 -10px);
     }

     footer.content.link-boxes.input-box{
         width :60%;
     }
     
     bottom-details.bottom-text span,
     bottom-details.bottom-text a{
         font-size :12 px ;
      }
}
@media (max-width :520px){
   footers:before{
       top :145 px ;
   }
   
   footers.content.top{
       flex-direction :column ;
       margin-top :16 px ;
   }
   
   footers.content.link-boxes.box{
       width:calc(100% /2 -10 px );
   }
   
   footers.content.link-boxes.input-box{
       width: 100% ;
   } 
}  */