<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
          <span>Connect with us on social networks:</span>
      </div>
      <div style="display: flex; justify-content: space-around; width:20%">
          <a href="#" class="me-4 text-reset">
              <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="#" class="me-4 text-reset">
              <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#" class="me-4 text-reset">
              <i class="fa-brands fa-google"></i>
          </a>
          <a href="#" class="me-4 text-reset">
              <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="me-4 text-reset">
              <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="#" class="me-4 text-reset">
              <i class="fa-brands fa-github"></i>
          </a>
      </div>
      <!-- Right -->
  </section>
  <section class="">
      <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fa fa-gem me-3"></i>Elite-Cafe
                  </h6>
                  <p>
                      A place where flavor meets delight. Enjoy an exquisite range of dishes in a cozy ambiance.
                  </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      Menu
                  </h6>
                  <p>
                      <a href="#!" class="text-reset">Coffee</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Cookies</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Beverages</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Breakfast</a>
                  </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      Services
                  </h6>
                  <p>
                      <a href="#!" class="text-reset">Pricing</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Settings</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Orders</a>
                  </p>
                  <p>
                      <a href="#!" class="text-reset">Help</a>
                  </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fa fa-home me-3"></i> Hyderabad, 502032, IND</p>
                  <p>
                      <i class="fa fa-envelope me-3"></i>
                      elitecafe&#64;shope.com
                  </p>
                  <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
                  <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
              </div>
          </div>
      </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      &copy; 2021 Elite-Cafe Cafe. All rights reserved.
  </div>
</footer>

