<form (ngSubmit)="processPayment()">
    <input type="text" [(ngModel)]="cardNumber" placeholder="Card Number">
    <input type="text" [(ngModel)]="expiryDate" placeholder="Expiry Date">
    <input type="text" [(ngModel)]="cvv" placeholder="CVV">
    <button type="submit">Pay Now</button>
  </form>
  