<!-- <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head> -->
<!-- <div class="modal" id="register" tabindex="-1" [class.show]="showRegisterModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h5 class="modal-title" id="exampleModalLabel">
              <span class="glyphicon glyphicon-user"></span> Register
            </h5>
          </div>
          <button type="button" class="close" (click)="showRegisterModal = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>
            <div class="form-group">
              <label for="cusId">
                <span class="glyphicon glyphicon-info-sign"></span> CustomerId:
              </label>
              <input type="text" class="form-control" id="cusId" name="cusId" ngModel #cusId="ngModel"
                placeholder="Enter CustomerId" >
            </div>
            <div class="form-group">
              <label for="cusName">
                <span class="glyphicon glyphicon-user"></span> CustomerName:
              </label>
              <input type="text" class="form-control" id="cusName" name="cusName" ngModel #cusName="ngModel"
                placeholder="Enter CustomerName" >
            </div>
            <div class="form-group">
              <label for="gender">
                  <span class="glyphicon glyphicon-list-alt"></span> Gender:
              </label>
              <select class="form-control" id="gender" name="gender" ngModel >
                  <option value="" selected>Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
              </select>
          </div>
          
          <div class="form-group">
            <label for="doj">
                <span class="glyphicon glyphicon-calendar"></span> DateOfJoin:
            </label>
            <input type="date" class="form-control" id="doj" name="doj" ngModel
                [max]="getCurrentDate()"  >
          </div>
          <div class="form-group">
              <label for="country">
                  <span class="glyphicon glyphicon-globe"></span> Country:
              </label>
              <select class="form-control" id="country" name="country" ngModel >
                  <option value="" selected>Select Country</option>
                  <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="branch">
                <span class="glyphicon glyphicon-briefcase"></span> Branch:
            </label>
            <select class="form-control" id="branch" name="branch" ngModel >
                <option value="" selected>Select Branch</option>
                <option value="{{branch.branchId}}" *ngFor="let branch of branches">{{branch.branchName}}</option>
            </select>
          </div>
          <div class="form-group">
              <label for="emailId">
                  <span class="glyphicon glyphicon-envelope"></span> Email-Id:
              </label>
              <input type="text" class="form-control" id="emailId" name="emailId" ngModel #emailId="ngModel" placeholder="Enter your email" >
          </div>
          <div class="form-group">
              <label for="password">
                  <span class="glyphicon glyphicon-lock"></span> Password:
              </label>
              <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" placeholder="Enter your password" >
          </div>
          <div class="form-group">
              <label for="confirmPassword">
                  <span class="glyphicon glyphicon-lock"></span> Confirm Password:
              </label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm your password" >
          </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [disabled]="!regForm.valid">Register</button>
          <p>Already have an account? <a (click)="showRegisterModal = false; login()">Login</a></p>
        </div>
      </div>
    </div>
  </div> -->
<!-- ^ actual main code is above  -->
 <!-- <h1>Register User</h1>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>

  <div class="form-group">
      <label for="cusId">
          <span class="glyphicon glyphicon-info-sign"></span> CustomerId:
      </label>
      <input type="text" class="form-control" id="cusId" name="cusId" ngModel #cusId="ngModel" placeholder="Enter CustomerId" required>
  </div>

  <div class="form-group">
      <label for="cusName">
          <span class="glyphicon glyphicon-user"></span> CustomerName:
      </label>
      <input type="text" class="form-control" id="cusName" name="cusName" ngModel #cusName="ngModel" placeholder="Enter CustomerName" required>
  </div>

  <div class="form-group">
      <label for="gender">
          <span class="glyphicon glyphicon-list-alt"></span> Gender:
      </label>
      <select class="form-control" id="gender" name="gender" ngModel required>
          <option value="" selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>
      </select>
  </div>

  <div class="form-group">
      <label for="doj">
          <span class="glyphicon glyphicon-calendar"></span> DateOfJoin:
      </label>
      <input type="date" class="form-control" id="doj" name="doj" ngModel [max]="getCurrentDate()" required>
  </div>

  <div class="form-group">
      <label for="country">
          <span class="glyphicon glyphicon-globe"></span> Country:
      </label>
      <select class="form-control" id="country" name="country" ngModel required>
          <option value="" selected>Select Country</option>
          <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
      </select>
  </div>

  <div class="form-group">
      <label for="branch">
          <span class="glyphicon glyphicon-briefcase"></span> Branch:
      </label>
      <select class="form-control" id="branch" name="branch" ngModel required>
          <option value="" selected>Select Branch</option>
          <option value="{{branch.branchId}}" *ngFor="let branch of branches">{{branch.branchName}}</option>
      </select>
  </div>

  <div class="form-group">
      <label for="emailId">
          <span class="glyphicon glyphicon-envelope"></span> Email-Id:
      </label>
      <input type="text" class="form-control" id="emailId" name="emailId" ngModel #emailId="ngModel" placeholder="Enter your email" required>
  </div>

  <div class="form-group">
      <label for="password">
          <span class="glyphicon glyphicon-lock"></span> Password:
      </label>
      <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" placeholder="Enter your password" required>
  </div>

  <div class="form-group">
      <label for="confirmPassword">
          <span class="glyphicon glyphicon-lock"></span> Confirm Password:
      </label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm your password" required>
  </div>
  <button class="btn btn-primary" [disabled]="!regForm.valid">Register</button>

  <p>Already have an account? <a (click)="showRegisterModal = false; login()">Login</a></p>

</form>  -->
<!-- Button to trigger the modal -->
 <!-- <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>  -->

  
  <!-- <div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true"> -->
    <div class="modal" id="register" tabindex="-1" [class.show]="showRegisterModal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="registerModalLabel">Register User</h4>
            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>
  
            <div class="form-group">
              <label for="cusId">
                <span class="glyphicon glyphicon-info-sign"></span> CustomerId:
              </label>
              <input type="text" class="form-control" id="cusId" name="cusId" ngModel #cusId="ngModel" placeholder="Enter CustomerId" required>
            </div>
  
            <div class="form-group">
              <label for="cusName">
                <span class="glyphicon glyphicon-user"></span> CustomerName:
              </label>
              <input type="text" class="form-control" id="cusName" name="cusName" ngModel #cusName="ngModel" placeholder="Enter CustomerName" required>
            </div>
  
            <div class="form-group">
              <label for="gender">
                <span class="glyphicon glyphicon-list-alt"></span> Gender:
              </label>
              <select class="form-control" id="gender" name="gender" ngModel required>
                <option value="" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="doj">
                <span class="glyphicon glyphicon-calendar"></span> DateOfJoin:
              </label>
              <input type="date" class="form-control" id="doj" name="doj" ngModel [max]="getCurrentDate()" required>
            </div>
  
            <div class="form-group">
              <label for="country">
                <span class="glyphicon glyphicon-globe"></span> Country:
              </label>
              <select class="form-control" id="country" name="country" ngModel required>
                <option value="" selected>Select Country</option>
                <option value="{{country.cca3}}" *ngFor="let country of countries">{{country.name.common}}</option>
              </select>
            </div>
  
            <!-- <div class="form-group">
              <label for="branch">
                <span class="glyphicon glyphicon-briefcase"></span> Branch:
              </label>
              <select class="form-control" id="branch" name="branch" ngModel required>
                <option value="" selected>Select Branch</option>
                <option value="{{branch.branchId}}" *ngFor="let branch of branches">{{branch.branchName}}</option>
              </select>
            </div> -->
            <!-- <div class="form-group">
              <label for="phonenumber">
                  <span class="glyphicon glyphicon-phone"></span> Phone Number:
              </label>
              <input type="text" class="form-control" id="phonenumber" name="phonenumber" ngModel #phonenumber="ngModel" 
                     placeholder="Enter your phone number" minlength="10" ng-maxlength="10" required>
              <div *ngIf="phonenumber.errors?.minlength || phonenumber.errors?.maxlength" class="text-danger">
                  Phone number must be exactly 10 characters.
              </div>
            </div> -->
            <div class="form-group">
              <label for="countryCode"></label>
              <!-- <select id="countryCode"  ngModel  style="width: 49px; height: 39px; margin-right: 3px;">
                <option *ngFor="let country of countries" [value]="country.idd.root + country.idd.suffixes">
                  {{ country.idd.root }}{{ country.idd.suffixes }}
                </option>
              </select>  -->
              <select id="countryCode" name="countryCode" class="form-control"  style="width: 49px; height: 39px; margin-right: 3px;" ngModel required>
                <option *ngFor="let country of countries" [value]="country.idd.root + country.idd.suffixes">
                  {{ country.idd.root }}{{ country.idd.suffixes }}
                </option>
              </select>
            </div>  
            <div class="form-group">
              <label for="phonenumber">
                <span class="glyphicon glyphicon-phone"></span> Phone Number:
              </label>
              <input type="text" class="form-control" id="phonenumber" name="phonenumber" ngModel #phonenumber="ngModel" placeholder="Enter your phone number" required minlength="2" maxlength="10"/>
            </div>
            <div class="form-group">
              <label for="emailId">
                <span class="glyphicon glyphicon-envelope"></span> Email-Id:
              </label>
              <input type="text" class="form-control" id="emailId" name="emailId" ngModel #emailId="ngModel" placeholder="Enter your email" required>
            </div>
  
            <div class="form-group">
              <label for="password">
                <span class="glyphicon glyphicon-lock"></span> Password:
              </label>
              <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" placeholder="Enter your password" required>
            </div>
  
            <div class="form-group">
              <label for="confirmPassword">
                <span class="glyphicon glyphicon-lock"></span> Confirm Password:
              </label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm your password" required>
            </div>
            <form [formGroup]="aFormGroup">
              <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </form>
            <button class="btn btn-primary" [disabled]="!regForm.valid">Register</button>
            <p>Already have an account? <a (click)="showRegisterModal = false; login()">Login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
