/* Modal Container */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Show the modal when the class 'show' is applied */
.modal.show {
  display: block;
}

/* Modal Dialog */
.modal-dialog {
  position: relative;
  margin: 5% auto;
  max-width: 40%;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  outline: 0;
}

/* Modal Header */
.modal-header {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

/* Modal Body */
.modal-body {
  position: relative;
  padding: 10px;
}

/* Form Group */
.form-group {
  margin-bottom: 10px;
}

/* Labels */
label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

/* Form Controls */
.form-control {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Button */
.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

/* Button Hover */
.btn:hover {
  background-color: #0056b3;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}
