  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/images/elitecafelogo.jpg" alt="Logo" style="height: 50px; width: 50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="home()"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="about()"><i class="fas fa-info-circle"></i> About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i> Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="fas fa-laptop"></i> Web Development</a>
            <a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i> Mobile Development</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-rocket"></i> Launch Your Project</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Search</button>
      </form>

      <form class="navbar-right">
        <ng-container *ngIf="!service.getLoginStatus(); else loggedInTemplate">
          <!-- Login and Register buttons -->
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">
            <i class="fas fa-user"></i> Login
          </button>
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="signup()">
            <i class="fas fa-user-plus"></i> Register
          </button>
        </ng-container>
        <ng-template #loggedInTemplate>
          <!-- Logout button -->
          <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </ng-template>
      </form>
    </div>
  </nav>
