/* Navbar Container */
.navbar {
    background-color: #f8f9fa; /* Navbar background color */
}

/* Navbar Brand */
.navbar-brand img {
    height: 50px; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
}

/* Navbar Links */
.navbar-nav .nav-link {
    color: #333; /* Link text color */
    position: relative; /* Position for the pseudo-element */
    font-size: 18px; /* Increased font size */
}

/* Navbar Links Hover Effect */
.navbar-nav .nav-link:hover::after {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position the line */
    left: 0; /* Start from the left */
    bottom: -3px; /* Adjust as needed */
    width: 100%; /* Full width */
    height: 2px; /* Line thickness */
    background-color: #28a745; /* Line color */
}

/* Active Link */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Active link font weight */
}

/* Dropdown */
.dropdown-menu {
    background-color: #f8f9fa; /* Dropdown background color */
}

.dropdown-item {
    color: #333; /* Dropdown item text color */
}

/* Form Styling */
.form-inline .form-control {
    margin-right: 5px; /* Adjust spacing */
}

/* Search Button */
.btn-outline-success {
    color: #050505; /* Button text color */
    border-color: #000000; /* Button border color */
}

/* Login, Register, Logout Buttons */
.btn-outline-success.my-2.my-sm-0 {
    margin-left: 5px; /* Adjust spacing */
}

/* Logged-in Template */
.btn-outline-danger {
    color: #dc3545; /* Logout button text color */
    border-color: #dc3545; /* Logout button border color */
}

/* Toggle Button */
.navbar-toggler {
    border-color: transparent; /* Toggle button border color */
}

/* Toggle Button Icon */
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="%2328a745" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3e%3c/svg%3e');
    height: 24px; /* Adjust icon height */
    width: 24px; /* Adjust icon width */
}
