<div>
    <h2>Menu Cart</h2>
    <ul>
        <li *ngFor="let item of cartItems">
            <div>
                <img src="{{ item.imgsrc }}" alt="{{ item.name }}" style="width: 50px; height: 50px;">
            </div>
            <div>
                <h4>{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <p><b>Price:</b> ₹{{ item.price }}/-</p>
                <p><b>Quantity:</b> {{ item.quantity }}</p>
            </div>
        
        </li>
        <div class="total">
            <p>Total: ₹{{ getTotalPrice() }}</p>
            <button>Purchase</button>
          </div>
          

    </ul>
</div>