body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.menu-item {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden; 
}

.menu-item img {
    width: calc(100% - 40px); 
    height: auto;
    border-radius: 5px;
}